@import '../../../constants/colors/colors.module.scss';
@import '../../../constants/fonts/fonts.module.scss';

.container {
    background-color: $white;
    cursor: pointer;
    max-width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.container:hover {
    background-color: $gray;
}

.label {
    font-family: $main_font;
    color: $yellow;
}